{{#sd-panel-header}}
    <h1 class="title">Transactions</h1>
{{/sd-panel-header}}

{{#sd-panel-content class="-no-padding -flexbox"}}
    {{#sd-table sticky=true}}
        <thead class="thead">
            <th class="th -string">
                <div class="th-inner">Node</div>
            </th>
            <th class="th -number">
                <div class="th-inner">Calls</div>
            </th>
            <th class="th -number">
                <div class="th-inner">Avg Time</div>
            </th>
            <th class="th -number">
                <div class="th-inner">Min Time</div>
            </th>
            <th class="th -number">
                <div class="th-inner">Max Time</div>
            </th>
        </thead>
        <tbody class="tbody">
            {{#each transactions as |transaction|}}
                <tr class="tr -link {{if (is-equal a=transaction.node b=selected) '-selected'}}" {{action "select" transaction.node}}>
                    <td class="td -string">{{transaction.node}}</td>
                    <td class="td -number">{{transaction.n}} calls</td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "avg" bubbles=false}}>{{transaction.avg}}</a></td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "min" bubbles=false}}>{{transaction.min}}</a></td>
                    <td class="td -number"><a href="#0" {{action "select" transaction.node "max" bubbles=false}}>{{transaction.max}}</a></td>
                </tr>
            {{/each}}
        </tbody>
    {{/sd-table}}
{{/sd-panel-content}}
